<div class="container">
  <% questions.forEach(function (question, index) { %>
  <div class="card" style="margin: 1em;">
    <div class="card-block">
      <h4 class="card-title"><%- question.title%></h4>
      <h6 class="card-subtitle mb-2 text-muted">
        <% question.tags.forEach(function (tag) {%>
        <span class="badge badge-primary"><%- tag%></span>
        <%})%>
      </h6>
      <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo<%- index%>">Show question context</button>
        <div id="demo<%- index%>" class="collapse">
          <%- question.text%>
        </div>
      </div>
      <a style="margin: 1em;" href="/questions/<%- question.id%>" class="card-link">Show answers</a>
    </div>
  </div>
  <%});%>
</div>
